<!DOCTYPE html>
<html>
  <body>
    <h1>Please sign in</h1>
    <form action="/sessions" method="post">
      <label for="username">Username</label>
      <input name="username" type="email" placeholder="enter email" required>
      <label for="password">Password</label>
      <input name="password" type="text" placeholder="enter password" required>
      <input class="button" type="submit" value="Submit"/>
    </form>
    <a href="/users/recover">I forgot my password</a>
  </body>
</html>
