<h1>Recover your password</h1>
<form action="/users/recover" method="post">
  <label for="email">Please enter your email address</label>
  <input type="email" name="email" required>
  <input type="submit" value="Submit">
</form>
