<h1>Please enter your new password</h1>

<form action="/users" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="password">Password:</label>
  <input name="password" type="password">
  <label for="password_confirmation">Password Confirmation:</label>
  <input name="password_confirmation" type="password">
  <input type="submit" value="Submit">
  </label>
</form>
